body {
    font: 18px/1.5 sans-serif;

    color: blue;
}

table {
    border-collapse: collapse;

    color: blue;
}

td,
th {
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}

th {
    border-bottom: 2px solid #dee2e6;
}

caption {
    margin-top: 25px;

    font-size: 0.7em;
    text-align: right;

    caption-side: bottom;
}