<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
Update Employee <br>
<form method="post" action="/employees/update" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${employee.id}">
    Name: <input type="text" name="name" th:value="${employee.name}"><br>
    Surname: <input type="text" name="surname" th:value="${employee.surname}"><br>
    Email: <input type="text" name="email" th:value="${employee.email}"> <br>
    Company:<select name="company.id">
    <option th:each="company: ${companies}" th:text="${company.name}" th:value="${company.id}">
    </option>
</select> <br>
    Picture: <input type="file" name="picture"><br>
    <input type="submit" value="Update">
</form>

<img th:if="${employee.getPicName() != null}" th:src="@{/getImage(picName=${employee.picName})}" width="40"/>
<a th:if="${employee.getPicName() != null}" th:href="@{/employees/image/delete(id=${employee.id})}">Delete picture</a>
</body>
</html>